.main-introduction__img {
  position: relative;
  width: 320px;
  margin-top: -152px;
  z-index: 1;
}

.main-introduction__text {
  .font(30px, 14px, 400);
  color: @advantages-text;
}

.main-introduction {
  margin: 0;
  padding: 0;
}

.main-introduction__head {
  margin: 0;
  position: relative;
  z-index: 3;
  width: 268px;
  height: 84px;
  top: 40px;
  left: 40px;
  text-align: center;
  .font(33px; 24px; 300);
  color: @white;
}
