.user-form__input-radio {
  appearance: none;
  position: relative;
  bottom: 35px;
  left: 20px;
  background-color: @white;
  width: 37px;
  height: 37px;
  border: 2px solid @gray-header-border;
  border-radius: 30px;
  outline: none;

  &:hover {
    border: 2px solid @background-header-blue;
  }

  &:active {
    border: 2px solid @btn-red;
  }
}

.user-form__input-radio:checked {
  background-image: url("../img/ball.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-form__label-radio {
  margin-left: 79px;
  color: @background-header-blue;
  .font(30px; 18px; 400);
}
