.user-form__content {
  .font(30px, 14px, 400);
  text-transform: uppercase;
  color: @color-form;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    width: auto;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    width: 100px;
    height: 40px;
  }
}

.user-form__label {
  .font(30px, 14px, 400);
  text-transform: uppercase;
  color: @color-form;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.user-form__label-field {
  text-align: center;
  display: block;
  .font(18px; 14px; 400);
  text-transform: uppercase;
}

.user-form__input {
  padding: 23px 20px;
  border: 2px solid @gray-header-border;
  border-radius: 1px;
  outline-style: none;

  @media (min-width: @tablet-width) {
    width: 76%;
    display: inline-block;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }

  &:hover {
    border: 2px solid @background-header-blue;
  }

  &:active {
    border: 2px solid @btn-red;
  }
}

.user-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    border: 2px solid @gray-header-border;
  }

  @media (min-width: @desktop-width) {
    width: 45%;
  }
}

.user-form__fieldset:nth-child(even) {
  margin-bottom: 40px;
  margin-left: -20px;
  background-color: @background-advantages;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    background-color: transparent;
  }

  & legend {
    color: @btn-red;
    .font(18px; 14px; 400);
    text-transform: uppercase;
    text-align: center;
    width: 224px;
    height: 29px;
    padding-top: 43px;
    padding-bottom: 29px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: @background-advantages;

    @media (min-width: @tablet-width) {
      .font(30px; 14px; 400);
      display: table;
      width: auto;
      height: 20px;
      padding: 0;
      background-color: transparent;
    }
  }
}

.user-form__text-tel {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    color: @btn-red;
    .font(18px; 14px; 400);
    text-transform: uppercase;
    text-align: center;
    width: auto;
    height: 20px;
    padding: 0;
  }
}

.user-form__textarea {
  color: @btn-red;
  .font(18px; 14px; 400);
  text-transform: uppercase;
  text-align: center;
  width: 224px;
  height: 29px;

  @media (min-width: @tablet-width) {
    width: auto;
    height: 20px;
  }
}

.user-form__input::placeholder {
  .font(30px; 18px; 400);
  color: @background-header-blue;
}

.user-form__input-checkbox:checked {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-form__input-checkbox {
  appearance: none;
  outline: none;
  position: relative;
  bottom: 33px;
  left: 20px;
  width: 35px;
  height: 35px;
  border: 2px solid @gray-header-border;
  background-color: @white;

  &:hover {
    border: 2px solid @background-header-blue;
  }

  &:active {
    border: 2px solid @btn-red;
  }
}

.user-form__label-checkbox {
  margin-left: 79px;
  color: @background-header-blue;
  .font(30px; 18px; 400);

  @media (min-width: @desktop-width) {
    width: 200px;
    margin-left: 79px;
  }
}

.user-form__input-textarea {
  border: 2px solid @gray-header-border;
  border-radius: 1px;
  width: 276px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 80%;
    height: 189px;
    margin: 30px auto;
  }
}

.user-form__input-textarea::placeholder {

  font-family: "Open Sans", "Arial", sans-serif;
  .font(30px; 18px; 400);
  color: @background-header-blue;
  padding-left: 24px;
  padding-top: 10px;
}

.user-form__submit {
  display: block;
  outline: none;
  width: 276px;
  height: 59px;
  margin: 49px auto;
  border: 2px solid @green;
  border-radius: 1px;
  color: @white;
  .font(30px; 18px; 700);
  text-transform: uppercase;
  background-color: @green;

  @media (min-width: @tablet-width) {
    order: 6;

    margin: 0;
    margin-top: 40px;
  }

  &:hover {
    background-color: @green-hover;
    border: 2px solid @green-hover;
    border-radius: 1px;
  }

  &:active {
    color: @white-gray;
    border: 2px solid @green-hover;
    border-radius: 1px;
  }

  &:disabled {
    background-color: @gray-header-border;
    border: 2px solid @gray-header-border;
  }
}

.user-form__span-color {
  color: @btn-red;
}

.user-form__label-comment {
  width: 100%;
  padding: 0;
  padding-bottom: 20px;
}

.user-form__input-radio {
  appearance: none;
  position: relative;
  bottom: 35px;
  left: 20px;
  background-color: @white;
  width: 37px;
  height: 37px;
  border: 2px solid @gray-header-border;
  border-radius: 30px;
  outline: none;

  &:hover {
    border: 2px solid @background-header-blue;
  }

  &:active {
    border: 2px solid @btn-red;
  }
}

.user-form__input-radio:checked {
  background-image: url("../img/ball.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-form__label-radio {
  margin-left: 79px;
  color: @background-header-blue;
  .font(30px; 18px; 400);
}

.user-form__fieldset:nth-child(1) {
  @media (min-width: @tablet-width) {
    display: block;
    border: none;
    width: 621px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.user-form__fieldset:nth-child(2) {
  @media (min-width: @tablet-width) {
    order: 4;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 190px;
  }
}

.user-form__fieldset:nth-child(3) {
  @media (min-width: @tablet-width) {
    order: 3;
    display: flex;

    & .user-form__label {
      position: relative;
      top: 90px;
      left: 50px;
      height: 0;
      width: auto;
    }

    & .user-form__input {
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;

    & .user-form__label {
      position: relative;
      top: 60px;
      left: 150px;
      height: 0;
      width: 200px;
      margin: 0;
      padding: 0;
    }

    & .user-form__input {
      width: 300px;
      margin: 0 -150px  50px 0;
    }
  }
}

.user-form__fieldset:nth-child(5) {
  @media (min-width: @tablet-width) {
    order: 5;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.user-form__label:last-child {
  @media (min-width: @tablet-width) {
    order: 6;
    position: relative;
    left: 400px;
    bottom: 50px;
    width: 200px;
  }

  @media (min-width: @desktop-width) {
    left: 10px;
    top: 40px;
  }
}

.user-form__item-form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.user-form__telefon {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    left: 500px;
    bottom: 110px;
  }

  @media (min-width: @desktop-width) {
    left: -60px;
    bottom: 0;
  }
}

.user-form__post {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    left: 500px;
    bottom: 110px;
  }

  @media (min-width: @desktop-width) {
    left: -60px;
    bottom: 0;
  }
}
