.advantages {
  text-align: center;
  width: 100%;
  //background-color: @white;
  z-index: -1;


  &::before {
    content: "";
    background-image: url("../img/grey-background.svg");
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    position: absolute;
    width: 320px;
    height: 1000px;
    left: 0;
    z-index: -1;
    margin-top: 88px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;

    &::before {
      content: "";
      background-image: url("../img/grey-background-tablet.svg");
      background-size: 660px 500px;
      position: absolute;
      width: 660px;
      height: 500px;
      left: 0;
      z-index: 1;
      margin-top: 222px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;

    &::before {
      content: "";
      background-image: url("../img/grey-background-tablet.svg");
      background-size: 1200px 1000px;
      position: absolute;
      width: 1200px;
      height: 1000px;
      left: 0;
      z-index: 1;
      margin-top: 274px;
    }
  }
}

.advantages__lead {
  font-size: 24px;
  .font(29px; 24px; 300);
  color: @advantages-text;
  background-color: @white;
  margin: 0 auto;
  width: 280px;
  letter-spacing: -0.5px;

  @media (min-width: @tablet-width) {
    .font (55px; 40px; 300);
  }

  @media (min-width: @desktop-width) {
    .font (68px; 49.5px; 300);
  }
}

.advantages__lead--top {
  padding: 39px 0 30px 0;

  @media (min-width: @tablet-width) {
    margin-top: 7px;
    width: 100%;
    margin-bottom: -30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 23px;
    width: 780px;
    margin-bottom: -30px;
    height: 77px;

  }
}

.advantages__lead--bottom {
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    width: 550px;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 550px;
    margin-top: -40px;

    & span {
      .font (68px; 49px; 300);
    }

  }
}

.advantages__list {
  text-align: center;
  margin-top: 37px;
  padding: 0;
  list-style: none;
  z-index: 333;

  @media (min-width: @tablet-width) {
    width: 342px;
    margin-top: 40px;
    margin-left: 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    height: 600px;
    margin-left: -126px;
    margin-top: 24px;
  }
}

.advantages__header {
  .font(24px; 18px; 700);
  margin-top: 0;
  padding-top: 52px;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    .font(30px; 30px; 700);
    background-color: @background-advantages;
    width: 240px;
    height: 53px;
   margin-top: -70px;
   position:relative;
   text-align: center;
   z-index: 1;
   margin:-70px auto 0 auto;

  }
}

.advantages__text {
  .font(24px; 14px; 400);
  width: 280px;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    text-align: left;
    width: 320px;
  }

  @media (min-width: @desktop-width) {
    height: 103px;
    width:252px;
    text-align:center;
    position: relative;
    padding-bottom:12px;
    z-index: 10;
    .font(30px; 18px; 400);
  }
}

.advantages__text--img {
  padding-bottom: 391px;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;

    @media (min-width: @desktop-width) {
      padding-bottom: 0;
      height: 115px;
    }
  }
}

.advantages__greeting {
  position: relative;
  bottom: 385px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages__grey {
  width: 100%;
  margin-bottom: -25px;
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages__greeting-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    width: 268px;
    height: 547px;
    top: 23px;
    left: 20px;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__greeting-tablet-img {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    width: 241px;
    height: 422px;
    top: -492px;
    left: 12px;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__wrap {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.advantages__wrap-size {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 660px;
    margin: 0 auto;
    z-index: 5;
  }
}

.advantages__img {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 272px;
    height: 382px;
    text-align: center;
  }
}

.advantages__gradient {
  display: none;

  @media (min-width: @desktop-width) {

    display: block;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    opacity: 0.3;
    filter: blur(4px);
    width: 280px;
    height: 9px;
    z-index: 10;
    margin-top:-70px;
    background-color:red;
    position:absolute;
  }
}

.advantages__item {
  &:nth-child(2) {
    margin-top: -17px;
  }

  &:nth-child(3) {
    margin-top: -17px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -150px;
    width: 359px;
  }
}

.advantages__item-up {
  @media (min-width: @desktop-width) {
    margin-left: -3px;
  }
}

.advantages__item-center {
  @media (min-width: @desktop-width) {
    margin-left: 2px;
  }
}

.advantages__item-bottom {
  @media (min-width: @desktop-width) {
    margin-left: 3px;
  }
}

.advantages__img-screen {
  position: relative;
  bottom: 345px;
  width: 169px;
  left: -1px;

  @media (min-width: @desktop-width) {
    bottom: 347px;
  }
}

.advantages__text-br {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}
