.contacts {
  text-align: center;
z-index: -1;
  &::before {
    content: "";
    background-image: url("../img/triangle.svg");
    background-size: 320px 67px;
    position: absolute;
    width: 320px;
    height: 67px;
    margin-top: 345px;
    left: 0px;
    z-index: 3;

    @media (min-width: @tablet-width) {
      content: "";
      background-image: url("../img/triangle.svg");
      background-size: 660px 200px;
      background-repeat: no-repeat;
      position: absolute;
      width: 660px;
      height: 150px;
      margin-top: 278px;
      left: 0px;
      z-index: 1;
    }
  }
}

.contacts__tagline {
  .font(30px; 23px; 300);
  color: @advantages-text;
  width: 280px;
  margin: 41px auto 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 111px;
    .font(54px; 38.9px; 300);
  }

  @media (min-width: @desktop-width) {
    border-bottom: none;
    .font(69px; 50px; 300);
  }
}

.contacts__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    z-index: 77;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
  }
}

.contacts__item {
  @media (min-width: @tablet-width) {
    width: 310px;
    height: 110px;
    z-index: 77;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 300px;
  }
}

.contacts__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    width: 600px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    order: 1;
  }
}

.contacts__item:nth-child(2) {
  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.contacts__item-title {
  .font(25px; 18px; 700);
  color: @black;
  margin-top: 32px;
  margin-bottom: -1px;

  @media (min-width: @tablet-width) {
    margin-top: 34px;
    margin-left: -10px;
    margin-bottom: 2px;
  }
}

.contacts__item-link {
  .font(33px; 23px; 300);
  color: @btn-red;
  width: 280px;
  margin: 0 auto 0 auto;
}

.contacts__item-text {
  .font(33px; 23px; 300);
  color: @btn-red;
  width: 280px;
  margin: 0 auto;
}

.contacts__item-text:last-child {
  margin-bottom: 5px;
}

.contacts__item-link-mail {
  @media (min-width: @tablet-width) {
    margin-left: 12px;
  }
}

.contacts__map {
  height: 200px;
}

.contacts__map-google {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: -1;
  margin-top: 16px;



  @media (min-width: @tablet-width) {
    height: 390px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}

.contacts__map-element {
  width: 100%;
  min-height: 64px;
}

.contacts__item-write {
  margin-top: 17px;
  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    margin-top: 34px;
    margin-left: 8px;
  }
}

.contacts__item-link-tel {
  .font(33px; 24px; 300);

  @media (min-width: @tablet-width) {
    margin-left: -8px;
    height: 80px;
  }
}

.contacts__item-title-guest {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 26px;
    margin-left: 3px;
    margin-bottom: 4px;
  }
}
