.contacts {
  text-align: center;
}

.contacts__tagline {
  .font(29px; 24px; 300);
  color: @advantages-text;
}

.contacts__list {
  list-style: none;
  padding: 0;
}

.contacts__item-title {
  .font(25px; 18px; 700);
  color: @black;
}

.contacts__item-link {
  .font(33px; 24px; 300);
  color: @btn-red;
}

.contacts__item-text {
  .font(33px; 24px; 300);
  color: @btn-red;
}

.contacts__map-google {

  width: 320px;
  height: 200px;
}
