.contacts {
  text-align: center;
}

.contacts__tagline {
  .font(30px; 23px; 300);
  color: @advantages-text;
  width: 280px;
  margin: 41px auto 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    border-bottom: none;
    .font(69px; 50px; 300);
  }
}

.contacts__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
  }
}

.contacts__item {
  @media (min-width: @tablet-width) {
    width: 310px;
    // margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 300px;
  }
}

.contacts__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    width: 600px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    order: 1;
  }
}

.contacts__item:nth-child(2) {
  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.contacts__item-title {
  .font(25px; 18px; 700);
  color: @black;
  margin-top: 32px;
  margin-bottom: -1px;
}

.contacts__item-link {
  .font(33px; 23px; 300);
  color: @btn-red;
  width: 280px;
  margin: 0 auto 0 auto;
}

.contacts__item-text {
  .font(33px; 23px; 300);
  color: @btn-red;
  width: 280px;
  margin: 0 auto;
}

.contacts__item-text:last-child {
  margin-bottom: 5px;
}

.contacts__map {
  height: 200px;
  margin-top: -57px;
}

.contacts__map-google {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: -1;
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}

.contacts__map-element {
  width: 100%;
  min-height: 64px;
}

.contacts__item-write {
  margin-top: 17px;
  margin-bottom: 2px;
}

.contacts__item-link-tel {
  .font(33px; 24px; 300);
}

.contacts__item-title-guest {
  margin-top: 20px;
}
