.price-app-slider {
  text-align: center;
  margin-top: 19px;
  background-color: @background-advantages;

  @media (min-width: @tablet-width) {
    z-index: -1;
    background-color: transparent;
    margin-top: 200px;

    &::before {
      content: "";
      background-image: url("../img/grey-background-price-tablet.png");
      background-size: 100% 403px;
      background-repeat: no-repeat;
      width: 100%;
      height: 403px;
      position: absolute;
      margin-top: -107px;
      left: 0;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 285px;


    &::before {
      content: "";
      background-image: url("../img/grey-background-price-desktop.png");
      background-size: 100% 534px;
      background-repeat: no-repeat;
      width: 100%;
      height: 534px;
      position: absolute;
      margin-top: -150px;
      left: 0;
      z-index: -1;
    }
  }
}

.price-app-slider__grey {
  margin-bottom: 10px;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price-app-slider__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
    margin: 0;
  }
}

.price-app-slider__header {
  background-color: @background-header-blue;
  height: 98px;
  margin-top: 36px;

  &::before {
    content: "";
    background-image: url("../img/ribbon.svg");
    position: absolute;
    width: 74px;
    height: 74px;
    left: 20px;

    @media (min-width: @tablet-width) {
      background-image: none;
    }
  }

  @media (min-width: @tablet-width) {
    height: 80px;
  }

  @media (min-width: @desktop-width) {
    height: 100px;
  }
}

.price-app-slider__standart {
  background-image: url("../img/ribbon.svg");
  background-repeat: no-repeat;
  background-size: 61px 61px;

  @media (min-width: @desktop-width) {
    background-size: 75px 75px;
  }
}

.price-app-slider__rotate {
  position: absolute;
  transform: rotate(-45deg);
  margin-top: 15px;
  left: 34px;
  color: @white;
  .font(30px; 14px; 400);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    position: relative;
    top: 11px;
    left: -57px;
    margin: 0;
    margin-top: -30px;
  }

  @media (min-width: @desktop-width) {
    left: -90px;
    top: 17px;
  }
}

.price-app-slider__item {
  width: 100%;
  background-color: @white;
  border-bottom: solid 2px @gray-header-border;
}

.price-app-slider__price {
  padding-bottom: 47px;
  height: 10px;
  margin: 0 20px 0 20px;
  border-left: solid 2px @gray-header-border;
  border-right: solid 2px @gray-header-border;
  .font(30px; 18px; 300);
  color: @white;

  & span {
    margin-left: 5px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    border-left: none;
    padding-bottom: 10px;
    width: 153px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 234px;
    .font(30px; 24px; 300);
    height: 45px;

    & span {
      margin-left: 0;
    }
  }
}

.price-app-slider__price-baza {
  @media (min-width: @desktop-width) {
    width: 236px;
  }
}

.price-app-slider__text {
  padding-top: 13px;
  height: 27px;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
  border-left: solid 2px @gray-header-border;
  border-right: solid 2px @gray-header-border;
  .font(30px; 16px; 700);
  color: @white;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: -30px;
    border-left: none;
    padding: 0;
    padding-top: 13px;
    text-transform: uppercase;
    .font(30px; 16px; 700);
  }

  @media (min-width: @desktop-width) {
    padding-top: 17px;
    padding-bottom: 4px;
    .font(30px; 18px; 700);
    margin-left: 3px;
  }
}

.price-app-slider__text-standart {
  @media (min-width: @desktop-width) {
    margin-left: 1px;
  }
}

.price-app-slider__text-anlim {
  @media (min-width: @desktop-width) {
    margin-left: 1px;
  }
}

.price-app-slider__item-border {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 15px 17px 14px 20px;
  margin: 0 20px 0 20px;
  border-left: solid 2px @gray-header-border;
  border-right: solid 2px @gray-header-border;
  text-transform: uppercase;
  .font(30px; 14px; 400);
  color: @advantages-text;

  @media (min-width: @tablet-width) {
    border-left: none;
    height: 21px;
    margin: 0;
    text-transform: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    width: 234px;
    padding-top: 18px;
    padding-bottom: 20px;
  }
}

.price-app-slider__item-border-left {
  @media (min-width: @tablet-width) {
    border-left: solid 2px @gray-header-border;
  }
}

.price-app-slider__smile {
  padding-bottom: 14px;
}

.price-app-slider__button {
  border-style: none;
  outline: none;
  background-color: transparent;
  margin: 0 2px;
}

.price-app-slider__controls {
  display: flex;
  justify-content: center;
  padding: 23px 0 42px 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price-app-slider__button--slider {
  margin-top: -6px;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.price-app-slider__wrap {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-left: 0;
    justify-content: center;
    margin-top: -100px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 2px;
    margin-top: -104px;
  }
}

.price-app-slider__list-double {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.price-app-slider__item-tablet {
  @media (min-width: @tablet-width) {
    margin-top: 84px; //передвигает розовый
    width: 100%;
    margin-right: -3px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 104px;
  }
}

.price-app-slider__yes {
  padding-top: 4px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding-top: 2px;
  }
}

.price-app-slider__no {
  margin-top: 3px;
  margin-right: 2px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-top: -1px;
  }
}

.price-app-slider__item-border-tablet {
  @media (min-width: @tablet-width) {
    border-left: solid 2px @gray-header-border;
    border-right: none;
  }
}

.price-app-slider__item-border-tablet--border {
  @media (min-width: @tablet-width) {
    border-top: solid 2px @gray-header-border;
  }
}

.price-app-slider__no-before {
  position: absolute;
  margin-top: 3px;
  margin-left: -68px;


  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price-app-slider__yes-before {
  position: absolute;
  margin-top: 5px;
  margin-left: -70px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price-app-slider__span {
  @media (min-width: @tablet-width) {
    width: 94%;
    margin-top: -2px;
    margin-left: 16px;
    height: 40px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    .font(30px; 18px; 400);
    margin-left: 22px;
    margin-top: -5px;
  }
}
