.price-app-slider {
  text-align: center;
  background-color: @background-advantages;
}

.price-app-slider__grey {
  margin-bottom: 30px;
  width: 100%;
}

.price-app-slider__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
    margin: 0;
  }
}

.price-app-slider__header {
  background-color: @background-header-blue;


  &::before {
    content: "";
    background-image: url("../img/ribbon.svg");
    position: absolute;
    width: 74px;
    height: 74px;
    left: 29px;

    @media (min-width: @tablet-width) {
      background-image: none;
    }
  }
}

.standart {
  background-image: url("../img/ribbon.svg");
  background-repeat: no-repeat;
  background-size: 61px 61px;
}

.price-app-slider__rotate {
  position: absolute;
  transform: rotate(-45deg);

  left: 43px;
  color: @white;
  .font(30px; 14px; 400);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    position: relative;
    top: 10px;
    left: -55px;
    margin: 0;
  }
}

.price-app-slider__item {
  width: 100%;
  background-color: @white;
  border-bottom: solid 2px @gray-header-border;
}

.price-app-slider__price {
  padding-bottom: 35px;
  margin: 0 20px 0 20px;
  border-left: solid 2px @gray-header-border;
  border-right: solid 2px @gray-header-border;
  .font(30px; 18px; 300);
  color: @white;

  @media (min-width: @tablet-width) {
    margin: 0;
    border-left: none;
    padding-bottom: 10px;
    width: 153px;
  }
}

.price-app-slider__text {
  padding-top: 19px;

  margin: 0 20px 0 20px;
  border-left: solid 2px @gray-header-border;
  border-right: solid 2px @gray-header-border;
  .font(30px; 18px; 700);
  color: @white;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: -30px;
    border-left: none;
    padding: 0;
    padding-top: 10px;
    text-transform: uppercase;
    .font(30px; 16px; 700);
  }
}

.price-app-slider__item-border {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 14px 20px;
  margin: 0 20px 0 20px;
  border-left: solid 2px @gray-header-border;
  border-right: solid 2px @gray-header-border;
  text-transform: uppercase;
  .font(30px; 14px; 400);
  color: @advantages-text;

  @media (min-width: @tablet-width) {
    border-left: none;
    height: 21px;
    margin: 0;
    text-transform: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.price-app-slider__button {
  border-style: none;
  outline: none;
  background-color: transparent;
}

.price-app-slider__controls {
  display: flex;
  justify-content: center;
  padding: 25px 0 35px 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price-app-slider__button--slider {
  padding-bottom: 5px;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.price-app-slider__wrap {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-left: 0;
    justify-content: center;
  }
}

.price-app-slider__list-double {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.price-app-slider__item-tablet {
  @media (min-width: @tablet-width) {
    margin-top: 79px;
  }
}

.price-app-slider__yes,
.price-app-slider__no {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.price-app-slider__item-border-tablet {
  @media (min-width: @tablet-width) {
    border-left: solid 2px @gray-header-border;
  }
}

.price-app-slider__item-border-tablet--border {
  @media (min-width: @tablet-width) {
    border-top: solid 2px @gray-header-border;
  }
}

.price-app-slider__rotate-transparent {
  color: transparent;
}
