.promo {
  background-color: @background-promo;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 250px 250px 1fr;
    grid-template-rows: 150px 150px 1fr 150px;
    margin-top: 32px;
    background-color: transparent;
  }
}

.promo__head {
  margin: 0 auto;
  position: relative;
  z-index: 3;
  width: 268px;
  height: 84px;
  top: 24px;
  left: 1px;
  text-align: center;
  .font(29px; 23px; 300);
  color: @white;

  @media (min-width: @tablet-width) {
    .font(47px; 38px; 300);
    position: static;
    width: 200px;
    height: 140px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 63px;
    margin-left: -10px;
    z-index: 7;
  }

  @media (min-width: @desktop-width) {
    .font(68px; 48px; 300);
    width: 300px;
    height: 174px;
    margin-left: -219px;
    padding-top: 5px;
  }
}

.promo__button-download {
  .font(18px; 18px; 700);
  letter-spacing: 1px;
  word-spacing: -2px;
  background-color: @background-promo;
  border: solid 3px @white;
  border-radius: 29px;
  color: @white;
  margin-top: 28px;
  width: 280px;
  height: 55px;


  &:hover {
    background-color: @white;
    color: @btn-red;
  }

  &:active {
    background-color: @white;
  }

  @media (min-width: @tablet-width) {
    .font(19px; 18px; 700);
    background-color: transparent;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 7;
    margin-top: 87px;
    margin-left: -60px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -220px;
    margin-top: 158px;
    .font(19px; 21px; 700);
  }
}

.promo__apps-list {
  width: 240px;
  margin: 32px auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 7;
    margin-top: 37px;
    margin-left: -32px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 130px;
    margin-left: -190px;
  }
}

.promo__item--android {
  margin-top: 6px;

  @media (min-width: @tablet-width) {
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 8px;
    margin-left: -1px;
  }
}

.promo__item--microsoft {
  margin-top: 12px;

  @media (min-width: @tablet-width) {
    margin-top: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 12px;
  }
}

.promo__text {
  .font(24px; 14px; 300);
  letter-spacing: -0.3px;
  color: @white;
  width: 250px;
  padding: 16px 0 31px 0;
  margin: 0 auto;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/phone-promo.png");
    background-repeat: no-repeat;
    background-size: 300px 286px;
    width: 300px;
    height: 286px;
    margin-top: -478px;
    left: 0px;
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    .font(25px; 18px; 300);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 3;
    margin: 0;
    margin-top: -28px;
    margin-left: -59px;
    width: 300px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/phone-promo-tablet.png");
      background-repeat: no-repeat;
      background-size: 477px 545px;
      width: 477px;
      height: 545px;
      margin-top: -383px;
      margin-left: 163px;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 3;
    margin: 0;
    margin-top: -39px;
      margin-left: -220px;


    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/phone-promo-desktop.png");
      background-repeat: no-repeat;
      background-size: 819px 645px;
      width: 819px;
      height: 645px;
      margin-top: -472px;
      margin-left:251px;
      z-index: 2;
    }
  }
}

.promo__img {
  display: block;
  margin-top: -150px;
  z-index: -1;
  background-image: url("../img/back-image.png");
  background-repeat: no-repeat;
  background-size: 100% 462px;
  width: 100%;
  height: 462px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-top: -142px;
    background-image: url("../img/back-image-tablet.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-width: 660px;
    height: 729px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: -142px;
    background-image: url("../img/back-image-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% 853px;
    width: 100%;
    height: 853px;
  }

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/back-image@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 462px;

    @media (min-width: @tablet-width) {
      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/back-image-tablet@2x.png");
        background-repeat: no-repeat;
        background-size: 100% 729px;
      }
    }

    @media (min-width: @desktop-width) {
      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/back-image-desktop@2x.png");
        background-repeat: no-repeat;
        background-size: 100% 853px;
      }
    }
  }
}
