.slider-comment {
  text-align: center;
  position: relative;

  margin-top: -80px; //регулировка высоты до телефона

  background-color: @white;
  z-index: 2;

  @media (min-width: @tablet-width) {
    margin-top: 100px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.slider-comment__list {
  list-style: none;
  padding: 0;
}

.slider-comment__head {
  background-color: @white;
  .font(30px; 18px; 700);
  color: @black;
  margin: 0;
  margin-top: -449px;
  padding-top: 41px;

  @media (min-width: @tablet-width) {
    margin: 0;
    order: 2;
  }
}

.slider-comment__quotes {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
}

.slider-comment__left-arrow {
  display: none;

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
    opacity: 0.3;
    margin-left: -160px;
    margin-top: 25px;
    position: absolute;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.slider-comment__right-arrow {
  display: none;

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
    opacity: 0.3;
    margin-left: 120px;
    margin-top: -39px;
    position: absolute;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.slider-comment__content {
  .font(30px; 14px; 400);
  color: @advantages-text;
  width: 280px;
  margin: 0 auto;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    order: 1;
    .font(30px; 18px; 400);
    width: 620px;
    height: 73px;
    padding: 20px;
  }
}

.slider-comment__controls {
  display: flex;
  justify-content: center;
}

.slider-comment__button {
  border-style: none;
  outline: none;
  background-color: transparent;
  padding-top: 13px;
  width: 25px;
}

.slider-comment__button--slider {
  padding-bottom: 5px;
}

.slider-comment__slider {
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider-comment__profession {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    .font(30px; 14px; 400);
    order: 3;
  }
}

.slider-comment__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.slider-comment__advertisement {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 30px;
    margin: -30px auto 0 auto;
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.slider-comment__advertisement-head {
  .font(36px; 30px; 700);
  color: @black;
}

.slider-comment__advertisement-content {
  .font(24px; 14px; 400);
  color: @advantages-text;
}

.slider-comment__advertisement-link {
  color: @btn-red;
  .font(24px; 14px; 400);
}

.price-app-slider__item-border-tablet {
  width: 153px;
}

.slider-comment__advertisement-img {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider-comment__advertisement-img-gray {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.slider-comment__advertisement-text {
  @media (min-width: @desktop-width) {
    width: 500px;
  }
}

.slider-comment__wrap {
  @media (min-width: @desktop-width) {
    background-color: @background-advantages;
    width: 100%;
  }
}
