.footer__chanel {
  display: table-cell;
  border: 3px solid @gray-border;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;

  &:hover {
    border: 3px solid @background-header-blue;
  }

  &:active {
    opacity: 0.1;
  }
}

.footer__list {
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
    justify-content: space-between;
    margin-top: 209px;
  }

  @media (min-width: @desktop-width) {
    width: 980px;
    margin: 0 auto;
  }
}

.footer__list-form {
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 574px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
    justify-content: space-between;
    margin-top: 732px;
  }

  @media (min-width: @desktop-width) {
    width: 980px;
    margin: 0 auto;
    margin-top: -208px;
  }
}

.footer__list-networks {
  padding: 0 65px;
  list-style: none;
  display: flex;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    width: 98%;
    margin-left: -5px;
    margin-top: 1px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 9px;
    margin-top: 0;
    width: 94%;
  }
}

.footer__item-academy {
  display: flex;
  justify-content: center;
  padding: 28px 0 20px 0;

  @media (min-width: @tablet-width) {
    //padding: 35px 0 20px 0;
    margin-right: 21px;
    padding: 38px 0 20px 0;
  }
}

.footer__academy {
  fill: @btn-red;

  &:hover {
    fill: @background-header-blue;
  }

  &:active {
    fill: @background-header-blue;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding-top: 2px;
  }
}

.footer__link {
  display: block;
  margin-top: 5px;
  margin-left: 10px;
}

.footer__logo-pink {
  fill: @background-header-blue;
  margin-top: 42px;
  margin-bottom: 35px;

  &:hover {
    fill: @btn-red;
  }

  &:active {
    fill: @background-header-blue;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
    margin-left: 20px;
    margin-top: 35px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.footer__logo-stars {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    fill: @background-header-blue;

    &:hover {
      fill: @btn-red;
    }

    &:active {
      fill: @background-header-blue;
      opacity: 0.3;
    }

    margin-bottom: 60px;
    margin-left: 20px;
    margin-top: 35px;
  }
}

.footer__item {
  height: 118px;

  @media (min-width: @tablet-width) {
    height: 127px;
  }
}

.footer__item:nth-child(2) {
  height: 60px;

  @media (min-width: @tablet-width) {
    width: 185px;
  }
}

.footer__facebook {
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    margin-left: 1px;
  }
}

.footer__youtube {
  opacity: 1;
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    margin-left: 3px;
  }
}

.footer__twitter {
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    margin-left: 3px;
  }
}

.footer__label {
  .font(17px; 14px; 400);
  margin-right: 3px;

  @media (min-width: @tablet-width) {
    margin-right: 4px;
    margin-top: 16px;
  }

  @media (min-width: @desktop-width) {
    .font(18px; 18px; 400);
    margin-top: 13px;
  }
}

.footer__list-catalog {
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
    justify-content: space-between;
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    width: 980px;
    margin: 64px auto 0 auto;
  }
}
