.catalog-introduction__head {
  position: relative;
  .font(33px; 24px; 300);
  top: 40px;
  padding: 0;
  margin: 0;
  height: 0;
  text-align: center;
  color: @white;
}

.catalog-introduction__img {
  position: relative;
  margin-top: -68px;
  z-index: -1;
}

.catalog-introduction {
  margin: 0 auto;
}

.catalog-introduction__text {
  .font(30px; 14px; 400);
  width: 280px;
  height: 70px;
  text-align: center;
  margin: 54px auto 60px auto;
}
